{% extends "index.html" %}

{% block main %}
<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">


            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"><span id="titleRepeat" style="text-transform: capitalize;"></span></h3>
                <button type="button" class="close" id="small-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
              <div class="statshalf">
                <p style="font-weight: bold; margin-bottom: 0;">ESG Impact and Relevance of your article</p>
                <p>(Articles are rated out of 100)</p>
                <div class="btn-score">
                  <p class="btn-text" style="color: white;" id="prediction"></p>
                </div>

                <p style="margin-top: 30px; font-weight: bold;">ESG Impact compared to other articles</p>
                <p>Other Articles Average - 61.4 </p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 61.4%" aria-valuenow="61.4" aria-valuemin="0" aria-valuemax="100"></div>
                </div>


                <div style="display: flex;">
                  <pre>Your Article - </pre>
                  <p id="predictionTwo"></p>
                </div>

                <div class="progress">
                  <div class="progress-bar" id="flexibar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>


              <div class="texthalf">
                <p style="font-weight: bold;">Summary of the article</p>
                <p>The UK taxpayer is to stop funding fossil fuel projects overseas as part of the government’s push for international action on the climate ahead of a key summit on Saturday. The Cop26 conference has been postponed until next November because of coronavirus, but on Saturday Johnson will co-host – alongside the UN secretary general, António Guterres, and the French president, Emmanuel Macron – an interim summit of world leaders at which all countries are expected to come forward with strengthened targets to cut emissions by 2030. The EU has committed to cut carbon by 55% by 2030 compared with 1990 levels, after member states wrangled into early Friday morning as Poland held out for concessions.</p>
              </div>
              <!--
                <h5>Prediction Input:</h5>
                <div>Title: <span id="titleRepeat"></span></div>
                <div>Body: <span id="bodyRepeat"></span></div>
                <h5 class="pt-3">Prediction Classification:</h5>
                <div id="prediction"></div>
              -->
            </div>


            <div class="modal-footer">
                <button type="button" class="btn-submit-form" data-dismiss="modal">Close</button>
            </div>


        </div>
    </div>
</div>



<!--
<div class="container pt-5" style="height: 70vh;">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>Iris Prediction</h1>
            <form action="" id="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="sepal_length">Sepal Length</label>
                    <input type="number" step="0.1" class="form-control" id="sepal_length" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="Sepal Width">Sepal Width</label>
                    <input type="number" step="0.1" class="form-control" id="sepal_width" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="petal_length">Petal Length</label>
                    <input type="number" step="0.1" class="form-control" id="petal_length" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="petal_width">Petal Width</label>
                    <input type="number" step="0.1" class="form-control" id="petal_width" placeholder="" required>
                </div>
                <button type="submit" value="Submit" class="btn btn-danger" style="background-color: #FD1015; margin-top: 15px;"data-toggle="modal" data-target="#exampleModal">Submit</button>
            </form>
        </div>
    </div>
</div>
-->



<div class="form-background">
  <div class="form-background-inner">
    <div>
            <h3>ESG Impact Prediction</h3>
            <form action="" id="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Article Title</label>
                    <input type="text" class="form-control" id="title" placeholder="" required>
                </div>


                <div class="form-group">
                  <label for="body">Article Body</label>
                  <textarea class="form-control" id="body" required></textarea>
                </div>

              <!--
                <div class="form-group">
                    <label for="body">Article Body</label>
                    <input type="number" step="0.1" class="form-control" id="body" placeholder="" required>
                </div>
              -->
                <button type="submit" value="Submit" class="btn-submit-form" style="background-color: #FD1015; margin-top: 15px;"data-toggle="modal" data-target="#exampleModal">Submit</button>
            </form>
    </div>
  </div>
</div>






<script>
    $(document).on('submit', '#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "predict:submit_prediction" %}',
            data:{
                title:$('#title').val(),
                body:$('#body').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },


            success:function(json) {
                document.forms["post-form"].reset();
                document.getElementById("prediction").innerHTML = json['result']
                document.getElementById("predictionTwo").innerHTML = json['result']
                document.getElementById("flexibar").style.width = json['result'] + "0%";
                document.getElementById("titleRepeat").innerHTML = json['title']
                document.getElementById("bodyRepeat").innerHTML = json['body']
            },
            error : function(xhr,errmsg,err) {

            }
        });
    })
</script>

{% endblock %}
