{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <div class="navbar" id="navbar">
    <div class="logo"><h2>PublishUX</h2></div>
    <div class="linklist">
      <p class="linklistitem"><a href="/" class="link">Home</a></p>
      <p class="linklistitem"><a href="/" class="link">Benefit</a></p>
      <p class="linklistitem"><a href="/" class="link">Solution</a></p>
      <p class="linklistitem" style="border-right: 1px solid grey"><a href="/" class="link" style="padding-right: 25px;">Get Started</a></p>
      <p class="linklistitem"><a href="technical_implementation" class="link">Technical Implementation</a></p>
      <p class="linklistitem"><a href="https://colab.research.google.com/drive/1k3MaICDKbwQP9YWDBad3lcxwpE6HJpTm#scrollTo=0O90P5NeNyTY" class="link">Our Model</a></p>
      <p class="linklistitem" style="font-size: 25px;"><a href="https://github.com/MetinLamby/djangoPublishUX" class="link"><i class="fab fa-github"></i></a></p>
    </div>
  </div>

<div style="margin: 90px;">
<h1 style="margin-top: 100px;">Technical Implementation of Django Application</h1>
<h6>For detailed django code review, please click <a href="https://github.com/MetinLamby/djangoPublishUX">here</a></h6>
<ul>
  <li>Create new project</li>
  <ul>
    <li>Push the project to GitHub</li>
  </ul>
  <li>Create new app</li>
  <li>Setup the app urls</li>
  <ul>
    <li>landing page - index page</li>
    <li>technical_implementation page - current page</li>
    <li>"predict/" url - responsible for sending the user input to the view using AJAX</li>
  </ul>
  <li>Build templates</li>
  <ul>
    <li>index.html - landing page html</li>
    <ul>
      <li>link to css stylesheet</li>
      <li>link to fontawesome library providing the Github icon in navbar and footer</li>
      <li>link to library enabling UX fading feature when scrolling on landing page</li>
      <li>includes the link to our colab model</li>
    </ul>
    <li>technical_implementation.html - current page</li>
    <li>predict.html</li>
    <ul>
      <li>providing the user input form in the landing page</li>
      <li>provides the modal showing the model results when submitting input variables</li>
      <li>includes JS code to send user input to view</li>
      <li>includes JS code to receive JSON response from model results</li>
    </ul>
    <li>!!! We made a change here from our previous Frontend idea. We decided to drop the dashboard as a separate page and instead add a modal. We made this decision because we were not able to fulfil all our ML model plans and therefore ended up with a completely new UX resulting in new frontend design !!!</li>
  </ul>
  <li>Build views</li>
  <ul>
    <li>responsible for rendering respective html templates</li>
    <li>should be responsible for opening the mickled model which we had troule with due to tensorflow-pickle restriction</li>
  </ul>
  <li>Deployment to Heroku</li>
</ul>
</div>

  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/MetinLamby/djangoPublishUX"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-copyright">
      PublishUX made with ❤ at AiTalents
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>


</body>
</html>
