a {
  text-decoration: none !important;
}

.link {
  color: black !important;
}

.linkTwo {
  color: white !important;
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  position: sticky;
}

.linklist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black !important;
}

.linklistitem {
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px !important;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.linklistitem:hover {
  transform: scale(1.1);
}


.banner {
  height: 75vh;
  display: flex;
}

.banner-txt {
  width: 50%;
  height: 100%;
  padding: 100px;
}

.banner-txt-header {
  font-weight: bold;
  font-size: 52px;
}

.banner-txt-para {
  font-weight: light;
  font-size: 18px;
}

.banner-img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.btn-discover {
  width: 220px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #FD1015;
  border-radius: 5px;
  margin-right: 20px;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.btn-upload {
  width: 150px;
  height: 55px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.btn-upload:hover {
  transform: scale(1.03);
}

.btn-discover:hover {
  transform: scale(1.03);
}

.btn-text {
  margin-bottom: 0px !important;
  font-weight: bold;
}

.banner-img {
  margin-top: 30px;
  height: 88%;
  width: 80%;
}

.customers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.customeritem {
  margin-bottom: 0px !important;
  color: #8C8C8C;
  font-weight: bold;
}

.solution-outter {
  margin-top: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solution-header{
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 0px;
}

.solution-header-two {
  margin-bottom: 8px;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.column-text {
  padding: 50px;
}

.column-solution-img{
  height: 200px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: left;
}

.solution-column-header {
  text-align: center;
}

.solutions-column-p {
  text-align: center;
}

.quote-div {
  height: 45vh;
  background-color: #FFE7E9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quote-div-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  border: none !important;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-text {
  padding: 50px;
}

.column-card-img {
  height: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.cards{
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  margin-top: 100px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer .fa-heart {
  color: #D23333;
}

.form-background {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-background-inner {
  height: 100%;
  background: rgba(255, 231, 233, 0.65);
  width: 50%;
  border: 1.5px dashed #FD1015;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit-form {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 44px;
  left: 467px;
  top: 3366px;

  background: #FD1015;
  border-radius: 5px;
  color: white;
  border: none;

  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.btn-submit-form:hover {
  transform: scale(1.02);
}

.form-group {
  margin-bottom: 15px;
}

#small-close-btn{
  background: #FD1015;
  border-radius: 5px;
  color: white;
  border: none;
  height: 25px;
  width: 25px;
  font-size: 15px;
}

.modal-dialog {
  max-width: 900px;
  min-width: 750px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-body {
  display: flex;
}

.statshalf {
  margin-right: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.texthalf {
  margin-left: 10px;
  width: 50%;
}

.btn-score {
  width: 130px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #FD1015;
  border-radius: 5px;
}

.progress {
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #FD1015 !important;
}
